In [159]:
# Import Dependencies
import pandas as pd
from datetime import timedelta, date
import numpy as np
import matplotlib.pyplot as plt
import requests as requests
import time
from scipy import stats 
#import linregress
import json

In [160]:
#CDC COVID-19 vaccination in the US url
vax_url = "https://data.cdc.gov/resource/8xkx-amqh"

In [161]:
#request API and get json objects

# vax_response = requests.get(vax_url).json()
# vax_response

In [162]:
# len(vax_response)

In [163]:
# vax_url = "https://data.cdc.gov/resource/8xkx-amqh"
# #request API and get json objects

# # vax_response = requests.get(vax_url).json()
# # vax_response

# df=pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$limit=25000")
# ##df=pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$where=date_extract_y(date)<2021&$limit=25000")

In [164]:
# vax_response = requests.get("https://data.cdc.gov/resource/8xkx-amqh.json?$where="
#                   "(date_extract_y(date)%20%3C=%202021%20AND%20date_extract_m(date)%20%3C=9)")
# vax_response_json=vax_response.json()

In [165]:
# # increasing the data rows to be pulled to a count
# df = pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$where="
#                   "(date_extract_y(date)%20%3C=%202021%20AND%20date_extract_m(date)%20%3C=9)&$limit=25000")

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     10000 non-null  datetime64[ns]
 1   fips                                     10000 non-null  object
 2   mmwr_week                                10000 non-null  int64
 3   recip_county                             10000 non-null  object
 4   recip_state                              10000 non-null  object
 5   series_complete_pop_pct                  10000 non-null  float64
 6   series_complete_yes                      10000 non-null  int64
 7   series_complete_12plus                   9863 non-null   float64
 8   series_complete_12pluspop                9863 non-null   float64
 9   series_complete_18plus                   10000 non-null  int64
 10  series_complete_18pluspop                10000 non-null  float64
 11  series_complete_65plus                   10000 non-null  int64
 12  series_complete_65pluspop                10000 non-null  float64
 13  completeness_pct                         10000 non-null  float64
 14  administered_dose1_recip                 9705 non-null   float64
 15  administered_dose1_pop_pct               10000 non-null  float64
 16  administered_dose1_recip_12plus          9355 non-null   float64
 17  administered_dose1_recip_12pluspop_pct   9863 non-null   float64
 18  administered_dose1_recip_18plus          9489 non-null   float64
 19  administered_dose1_recip_18pluspop_pct   10000 non-null  float64
 20  administered_dose1_recip_65plus          9489 non-null   float64
 21  administered_dose1_recip_65pluspop_pct   10000 non-null  float64
 22  svi_ctgy                                 9806 non-null   object
 23  series_complete_pop_pct_svi              9507 non-null   float64
 24  series_complete_12pluspop_pct_svi        9369 non-null   float64
 25  series_complete_18pluspop_pct_svi        9507 non-null   float64
 26  series_complete_65pluspop_pct_svi        9507 non-null   float64
 27  metro_status                             9806 non-null   object
 28  series_complete_pop_pct_ur_equity        9503 non-null   float64
 29  series_complete_12pluspop_pct_ur_equity  9365 non-null   float64
 30  series_complete_18pluspop_pct_ur_equity  9505 non-null   float64
 31  series_complete_65pluspop_pct_ur_equity  9501 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(4), object(5)
memory usage: 2.4+ MB

In [167]:
new_df=df[["date","recip_county"]]

In [168]:
new_df.head()

        date      recip_county
0 2021-10-23     McLean County
1 2021-10-23    Boulder County
2 2021-10-23  Bear Lake County
3 2021-10-23      Osage County
4 2021-10-23  Yalobusha County

In [170]:
#CDC COVID-19 mortality rate in the US by age and sex url
mort_url = "https://data.cdc.gov/resource/9bhg-hcku"

In [172]:
#Data frame of the CDC COVID-19 mortality rate in the US by age and sex as of 09/30/2021
df_mort = pd.read_json("https://data.cdc.gov/resource/9bhg-hcku.json?$where="
                  "(date_extract_y(end_date)%20%3C=%202021%20AND%20date_extract_m(end_date)%20%3C=9)&$limit=500000")

In [174]:
len(df_mort)

49572

In [175]:
# Displaying one record 
df_mort.iloc[500]

data_as_of                       2021-10-20T00:00:00.000
start_date                       2021-01-01T00:00:00.000
end_date                         2021-01-31T00:00:00.000
group                                           By Month
year                                                2021
month                                                  1
state                                      United States
sex                                               Female
age_group                                    25-34 years
covid_19_deaths                                    253.0
total_deaths                                      2104.0
pneumonia_deaths                                   169.0
pneumonia_and_covid_19_deaths                      126.0
influenza_deaths                                     1.0
pneumonia_influenza_or_covid                       297.0
footnote                                             NaN
Name: 500, dtype: object

In [176]:
#data frame with required fields
new_df=df_mort[["group","year","month","state","sex","age_group","covid_19_deaths",
                "total_deaths"]]

In [177]:
new_df

,group,year,month,state,sex,age_group,covid_19_deaths,total_deaths
0,By Month,2020,1,United States,All Sexes,All Ages,5.0,264579.0
1,By Month,2020,1,United States,All Sexes,Under 1 year,0.0,1778.0
2,By Month,2020,1,United States,All Sexes,0-17 years,0.0,2956.0
3,By Month,2020,1,United States,All Sexes,1-4 years,0.0,314.0
4,By Month,2020,1,United States,All Sexes,5-14 years,0.0,471.0
...,...,...,...,...,...,...,...,...
49567,By Month,2021,9,Puerto Rico,Female,50-64 years,30.0,124.0
49568,By Month,2021,9,Puerto Rico,Female,55-64 years,24.0,93.0
49569,By Month,2021,9,Puerto Rico,Female,65-74 years,25.0,180.0
49570,By Month,2021,9,Puerto Rico,Female,75-84 years,27.0,297.0
49571,By Month,2021,9,Puerto Rico,Female,85 years and over,17.0,398.0

In [178]:
#Dropping data for age_groups -"Under 1 year", "1-4 years", "All Ages","5-14 years","15-24 years"
# and "25-34 years" , "35-44 years",  "45-54 years",  "55-64 years"

new_df.drop(new_df.loc[new_df["age_group"]=="Under 1 year"].index, inplace=True)

new_df.drop(new_df.loc[new_df["age_group"]=="1-4 years"].index, inplace=True)

new_df.drop(new_df.loc[new_df["age_group"]=="All Ages"].index, inplace=True)

new_df.drop(new_df.loc[new_df["age_group"]=="5-14 years"].index, inplace=True)

new_df.drop(new_df.loc[new_df["age_group"]=="15-24 years"].index, inplace=True)


new_df.drop(new_df.loc[new_df["age_group"]=="25-34 years"].index, inplace=True)
new_df.drop(new_df.loc[new_df["age_group"]=="35-44 years"].index, inplace=True)
new_df.drop(new_df.loc[new_df["age_group"]=="45-54 years"].index, inplace=True) 
new_df.drop(new_df.loc[new_df["age_group"]=="55-64 years"].index, inplace=True)

/Users/jobyaugustine/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [179]:
new_df["age_group"].unique()

array(['0-17 years', '18-29 years', '30-39 years', '40-49 years',
       '50-64 years', '65-74 years', '75-84 years', '85 years and over'],
      dtype=object)

In [180]:
new_df.reset_index()

,index,group,year,month,state,sex,age_group,covid_19_deaths,total_deaths
0,2,By Month,2020,1,United States,All Sexes,0-17 years,0.0,2956.0
1,6,By Month,2020,1,United States,All Sexes,18-29 years,0.0,4410.0
2,8,By Month,2020,1,United States,All Sexes,30-39 years,0.0,6456.0
3,10,By Month,2020,1,United States,All Sexes,40-49 years,0.0,9779.0
4,12,By Month,2020,1,United States,All Sexes,50-64 years,2.0,42985.0
...,...,...,...,...,...,...,...,...,...
23323,49565,By Month,2021,9,Puerto Rico,Female,40-49 years,NaN,27.0
23324,49567,By Month,2021,9,Puerto Rico,Female,50-64 years,30.0,124.0
23325,49569,By Month,2021,9,Puerto Rico,Female,65-74 years,25.0,180.0
23326,49570,By Month,2021,9,Puerto Rico,Female,75-84 years,27.0,297.0
23327,49571,By Month,2021,9,Puerto Rico,Female,85 years and over,17.0,398.0

In [181]:
# Mortality rate Vs Gender  - Data for Pie Chart
gender_df=new_df.groupby(by=["sex"]).sum()

In [182]:
gender_df

               year  month  covid_19_deaths  total_deaths
sex
All Sexes  15711408  38880        1074551.0     9916035.0
Female     15711408  38880         475912.0     4689866.0
Male       15711408  38880         589921.0     5220423.0

In [184]:
#Mortality rate by age group - Data for scatter plot

age_group_df=new_df.groupby(by=["age_group"]).sum()

In [185]:
age_group_df

                      year  month  covid_19_deaths  total_deaths
age_group
0-17 years         5891778  14580            992.0      200111.0
18-29 years        5891778  14580          10593.0      383947.0
30-39 years        5891778  14580          35489.0      559141.0
40-49 years        5891778  14580          92688.0      834081.0
50-64 years        5891778  14580         413690.0     3380676.0
65-74 years        5891778  14580         496130.0     4038678.0
75-84 years        5891778  14580         547210.0     4765528.0
85 years and over  5891778  14580         543592.0     5664162.0

In [186]:
#Mortality By state - Data horizontal bar graph
state_df=new_df.groupby(by=["state"]).sum()

In [187]:
state_df

                        year  month  covid_19_deaths  total_deaths
state
Alabama               872856   2160          22876.0      191432.0
Alaska                872856   2160            365.0       13867.0
Arizona               872856   2160          27906.0      230440.0
Arkansas              872856   2160          10822.0      112201.0
California            872856   2160         112297.0      955026.0
Colorado              872856   2160           9720.0      136096.0
Connecticut           872856   2160          13295.0      103372.0
Delaware              872856   2160           2413.0       31643.0
District of Columbia  872856   2160           2062.0       21232.0
Florida               872856   2160          98283.0      767224.0
Georgia               872856   2160          40445.0      314392.0
Hawaii                872856   2160            990.0       36474.0
Idaho                 872856   2160           3692.0       48571.0
Illinois              872856   2160          31637.0      358302.0
Indiana               872856   2160          19227.0      221672.0
Iowa                  872856   2160           6511.0       96295.0
Kansas                872856   2160           6225.0       87269.0
Kentucky              872856   2160          13577.0      162572.0
Louisiana             872856   2160          21319.0      167043.0
Maine                 872856   2160           1200.0       46603.0
Maryland              872856   2160          17192.0      171967.0
Massachusetts         872856   2160          23916.0      197486.0
Michigan              872856   2160          27746.0      327052.0
Minnesota             872856   2160           8823.0      144068.0
Mississippi           872856   2160          15559.0      115941.0
Missouri              872856   2160          17554.0      216026.0
Montana               872856   2160           1638.0       33305.0
Nebraska              872856   2160           2596.0       53262.0
Nevada                872856   2160          10903.0       94045.0
New Hampshire         872856   2160           1656.0       39110.0
New Jersey            872856   2160          44054.0      268945.0
New Mexico            872856   2160           4952.0       64603.0
New York              872856   2160          44756.0      347594.0
New York City         872856   2160          57174.0      230046.0
North Carolina        872856   2160          28424.0      291478.0
North Dakota          872856   2160            621.0       21928.0
Ohio                  872856   2160          31881.0      405216.0
Oklahoma              872856   2160          13646.0      134668.0
Oregon                872856   2160           5959.0      122332.0
Pennsylvania          872856   2160          41247.0      442528.0
Puerto Rico           872856   2160           3689.0       95674.0
Rhode Island          872856   2160           3489.0       33462.0
South Carolina        872856   2160          20601.0      181290.0
South Dakota          872856   2160           1053.0       25677.0
Tennessee             872856   2160          25078.0      263474.0
Texas                 872856   2160         112438.0      766578.0
United States         872856   2160        1079670.0     9869254.0
Utah                  872856   2160           3562.0       65185.0
Vermont               872856   2160            115.0       17657.0
Virginia              872856   2160          20104.0      239384.0
Washington            872856   2160          11631.0      191318.0
West Virginia         872856   2160           4692.0       67564.0
Wisconsin             872856   2160           8441.0      171186.0
Wyoming               872856   2160            662.0       15295.0

In [188]:
sorted_state_df= state_df.sort_values("covid_19_deaths",ascending=False)

In [189]:
# Mortlaity by State counts sorted in descending order
sorted_state_df["covid_19_deaths"]

state
United States           1079670.0
Texas                    112438.0
California               112297.0
Florida                   98283.0
New York City             57174.0
New York                  44756.0
New Jersey                44054.0
Pennsylvania              41247.0
Georgia                   40445.0
Ohio                      31881.0
Illinois                  31637.0
North Carolina            28424.0
Arizona                   27906.0
Michigan                  27746.0
Tennessee                 25078.0
Massachusetts             23916.0
Alabama                   22876.0
Louisiana                 21319.0
South Carolina            20601.0
Virginia                  20104.0
Indiana                   19227.0
Missouri                  17554.0
Maryland                  17192.0
Mississippi               15559.0
Oklahoma                  13646.0
Kentucky                  13577.0
Connecticut               13295.0
Washington                11631.0
Nevada                    10903.0
Arkansas                  10822.0
Colorado                   9720.0
Minnesota                  8823.0
Wisconsin                  8441.0
Iowa                       6511.0
Kansas                     6225.0
Oregon                     5959.0
New Mexico                 4952.0
West Virginia              4692.0
Idaho                      3692.0
Puerto Rico                3689.0
Utah                       3562.0
Rhode Island               3489.0
Nebraska                   2596.0
Delaware                   2413.0
District of Columbia       2062.0
New Hampshire              1656.0
Montana                    1638.0
Maine                      1200.0
South Dakota               1053.0
Hawaii                      990.0
Wyoming                     662.0
North Dakota                621.0
Alaska                      365.0
Vermont                     115.0
Name: covid_19_deaths, dtype: float64

In [190]:

#gender_df().head()
print(new_df.groupby("sex").head())

       group  year  month          state        sex    age_group  \
2   By Month  2020      1  United States  All Sexes   0-17 years
6   By Month  2020      1  United States  All Sexes  18-29 years
8   By Month  2020      1  United States  All Sexes  30-39 years
10  By Month  2020      1  United States  All Sexes  40-49 years
12  By Month  2020      1  United States  All Sexes  50-64 years
19  By Month  2020      1  United States       Male   0-17 years
23  By Month  2020      1  United States       Male  18-29 years
25  By Month  2020      1  United States       Male  30-39 years
27  By Month  2020      1  United States       Male  40-49 years
29  By Month  2020      1  United States       Male  50-64 years
36  By Month  2020      1  United States     Female   0-17 years
40  By Month  2020      1  United States     Female  18-29 years
42  By Month  2020      1  United States     Female  30-39 years
44  By Month  2020      1  United States     Female  40-49 years
46  By Month  2020      1  United States     Female  50-64 years

    covid_19_deaths  total_deaths
2               0.0        2956.0
6               0.0        4410.0
8               0.0        6456.0
10              0.0        9779.0
12              2.0       42985.0
19              0.0        1666.0
23              0.0        3218.0
25              0.0        4300.0
27              0.0        6087.0
29              1.0       26094.0
36              0.0        1290.0
40              0.0        1192.0
42              0.0        2156.0
44              0.0        3692.0
46              1.0       16891.0

In [191]:
#Mortality rate for Gender types for different age groups - Stacked bar graph

gender_agegroup_df=new_df.groupby(by=["sex","age_group"]).sum()

In [192]:
gender_agegroup_df

                                year  month  covid_19_deaths  total_deaths
sex       age_group
All Sexes 0-17 years         1963926   4860            529.0      100995.0
          18-29 years        1963926   4860           5586.0      192881.0
          30-39 years        1963926   4860          18413.0      280235.0
          40-49 years        1963926   4860          47219.0      417402.0
          50-64 years        1963926   4860         207506.0     1690338.0
          65-74 years        1963926   4860         248666.0     2019339.0
          75-84 years        1963926   4860         274198.0     2382764.0
          85 years and over  1963926   4860         272434.0     2832081.0
Female    0-17 years         1963926   4860            212.0       40891.0
          18-29 years        1963926   4860           1887.0       50405.0
          30-39 years        1963926   4860           6087.0       88998.0
          40-49 years        1963926   4860          15922.0      150540.0
          50-64 years        1963926   4860          76467.0      646716.0
          65-74 years        1963926   4860          99349.0      847828.0
          75-84 years        1963926   4860         120396.0     1141536.0
          85 years and over  1963926   4860         155592.0     1722952.0
Male      0-17 years         1963926   4860            251.0       58225.0
          18-29 years        1963926   4860           3120.0      140661.0
          30-39 years        1963926   4860          10989.0      189908.0
          40-49 years        1963926   4860          29547.0      266139.0
          50-64 years        1963926   4860         129717.0     1043622.0
          65-74 years        1963926   4860         148115.0     1171511.0
          75-84 years        1963926   4860         152616.0     1241228.0
          85 years and over  1963926   4860         115566.0     1109129.0

In [193]:
#Mortality rate for Year for different age groups 

Year_group_df=new_df.groupby(by=["year"]).sum()

Year_group_df

      month  covid_19_deaths  total_deaths
year
2020  58320         828024.0     9824035.0
2021  58320        1312360.0    10002289.0

In [196]:
#Mortality rate for Year for different age groups 

Year_Month_df=new_df.groupby(by=["year","month"]).sum()
#gender_agegroup_df=new_df.groupby(by=["sex","age_group"]).sum()
Year_Month_df

            covid_19_deaths  total_deaths
year month
2020 1                 10.0     1063229.0
     2                 40.0      983899.0
     3              27248.0     1083873.0
     4             260766.0     1293527.0
     5             151901.0     1126216.0
     6              70689.0     1005728.0
     7             123182.0     1120452.0
     8             118516.0     1114013.0
     9              75672.0     1033098.0
2021 1             420287.0     1497786.0
     2             192354.0     1133002.0
     3              91059.0     1086720.0
     4              73269.0     1030044.0
     5              57870.0     1030910.0
     6              29717.0      968154.0
     7              42116.0     1005536.0
     8             186554.0     1162988.0
     9             219134.0     1087149.0

In [197]:
Year_Month_df["covid_19_deaths"]

year  month
2020  1            10.0
      2            40.0
      3         27248.0
      4        260766.0
      5        151901.0
      6         70689.0
      7        123182.0
      8        118516.0
      9         75672.0
2021  1        420287.0
      2        192354.0
      3         91059.0
      4         73269.0
      5         57870.0
      6         29717.0
      7         42116.0
      8        186554.0
      9        219134.0
Name: covid_19_deaths, dtype: float64

In [195]:
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2015, 12, 20)
end_dt = date(2016, 1, 11)
for dt in daterange(start_dt, end_dt):
    print(dt.strftime("%Y-%m-%d"))

2015-12-20
2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-25
2015-12-26
2015-12-27
2015-12-28
2015-12-29
2015-12-30
2015-12-31
2016-01-01
2016-01-02
2016-01-03
2016-01-04
2016-01-05
2016-01-06
2016-01-07
2016-01-08
2016-01-09
2016-01-10
2016-01-11