In [2]:
# Import Dependencies
import pandas as pd
from datetime import timedelta, date
import numpy as np
import matplotlib.pyplot as plt
import requests as requests
import time
from scipy import stats 
#import linregress
import json

In [74]:
#CDC COVID-19 vaccination in the US url
vax_url = "https://data.cdc.gov/resource/8xkx-amqh"

In [75]:
#request API and get json objects

# vax_response = requests.get(vax_url).json()
# vax_response

In [76]:
len(vax_response)

1000

In [77]:
vax_url = "https://data.cdc.gov/resource/8xkx-amqh"
#request API and get json objects

# vax_response = requests.get(vax_url).json()
# vax_response

df=pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$limit=25000")
##df=pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$where=date_extract_y(date)<2021&$limit=25000")

#df=pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$date<2021-02-13T00:00:00.000&$limit=25000")

In [78]:
df=pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$limit=10000")

In [79]:
len(df)

10000

In [80]:
vax_response = requests.get("https://data.cdc.gov/resource/8xkx-amqh.json?$where="
                  "(date_extract_y(date)%20%3C=%202021%20AND%20date_extract_m(date)%20%3C=9)")

In [81]:
vax_response_json=vax_response.json()

In [82]:
len(vax_response_json)

1000

In [83]:
df = pd.read_json("https://data.cdc.gov/resource/8xkx-amqh.json?$where="
                  "(date_extract_y(date)%20%3C=%202021%20AND%20date_extract_m(date)%20%3C=9)&$limit=25000")

In [84]:
len(df)

25000

In [89]:
df.head()

,date,fips,mmwr_week,recip_county,recip_state,series_complete_pop_pct,series_complete_yes,series_complete_12plus,series_complete_12pluspop,series_complete_18plus,...,svi_ctgy,series_complete_pop_pct_svi,series_complete_12pluspop_pct_svi,series_complete_18pluspop_pct_svi,series_complete_65pluspop_pct_svi,metro_status,series_complete_pop_pct_ur_equity,series_complete_12pluspop_pct_ur_equity,series_complete_18pluspop_pct_ur_equity,series_complete_65pluspop_pct_ur_equity
0,2021-09-30,42073,39,Lawrence County,PA,48.1,41089,41088.0,55.1,39532,...,B,7.0,8.0,8.0,8.0,Non-metro,7.0,8.0,8.0,8.0
1,2021-09-30,72017,39,Barceloneta Municipio,PR,62.5,14836,14832.0,70.1,13669,...,B,8.0,8.0,8.0,8.0,Metro,4.0,4.0,4.0,4.0
2,2021-09-30,08125,39,Yuma County,CO,36.4,3645,3642.0,44.7,3551,...,C,10.0,11.0,11.0,11.0,Non-metro,6.0,7.0,7.0,7.0
3,2021-09-30,08087,39,Morgan County,CO,39.1,11376,11368.0,47.5,10803,...,C,10.0,11.0,12.0,11.0,Non-metro,6.0,7.0,8.0,7.0
4,2021-09-30,13175,39,Laurens County,GA,22.4,10662,10661.0,26.7,9910,...,D,13.0,13.0,13.0,14.0,Non-metro,5.0,5.0,5.0,6.0

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 32 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     25000 non-null  datetime64[ns]
 1   fips                                     25000 non-null  object
 2   mmwr_week                                25000 non-null  int64
 3   recip_county                             25000 non-null  object
 4   recip_state                              25000 non-null  object
 5   series_complete_pop_pct                  25000 non-null  float64
 6   series_complete_yes                      25000 non-null  int64
 7   series_complete_12plus                   24661 non-null  float64
 8   series_complete_12pluspop                24661 non-null  float64
 9   series_complete_18plus                   25000 non-null  int64
 10  series_complete_18pluspop                25000 non-null  float64
 11  series_complete_65plus                   25000 non-null  int64
 12  series_complete_65pluspop                25000 non-null  float64
 13  completeness_pct                         25000 non-null  float64
 14  administered_dose1_recip                 23914 non-null  float64
 15  administered_dose1_pop_pct               25000 non-null  float64
 16  administered_dose1_recip_12plus          22872 non-null  float64
 17  administered_dose1_recip_12pluspop_pct   24661 non-null  float64
 18  administered_dose1_recip_18plus          23204 non-null  float64
 19  administered_dose1_recip_18pluspop_pct   25000 non-null  float64
 20  administered_dose1_recip_65plus          23204 non-null  float64
 21  administered_dose1_recip_65pluspop_pct   25000 non-null  float64
 22  svi_ctgy                                 24521 non-null  object
 23  series_complete_pop_pct_svi              22476 non-null  float64
 24  series_complete_12pluspop_pct_svi        22136 non-null  float64
 25  series_complete_18pluspop_pct_svi        22476 non-null  float64
 26  series_complete_65pluspop_pct_svi        22476 non-null  float64
 27  metro_status                             24521 non-null  object
 28  series_complete_pop_pct_ur_equity        22476 non-null  float64
 29  series_complete_12pluspop_pct_ur_equity  22136 non-null  float64
 30  series_complete_18pluspop_pct_ur_equity  22476 non-null  float64
 31  series_complete_65pluspop_pct_ur_equity  22476 non-null  float64
dtypes: datetime64[ns](1), float64(22), int64(4), object(5)
memory usage: 6.1+ MB

In [91]:
new_df=df[["date","recip_county"]]
#.copy()
#            ,'recip_state','series_complete_pop_pct',
#           'series_complete_yes','series_complete_12plus','series_complete_12pluspop',
#            'series_complete_18plus','series_complete_18pluspop',
#            'series_complete_65plus','series_complete_65pluspop',
#            'completeness_pct'
#           ]]

In [92]:
new_df.head()

        date           recip_county
0 2021-09-30        Lawrence County
1 2021-09-30  Barceloneta Municipio
2 2021-09-30            Yuma County
3 2021-09-30          Morgan County
4 2021-09-30         Laurens County

In [85]:
#CDC COVID-19 mortality rate in the US by age and sex url
mort_url = "https://data.cdc.gov/resource/9bhg-hcku"

In [86]:
df_mort = pd.read_json("https://data.cdc.gov/resource/9bhg-hcku.json?$where="
                  "(date_extract_y(end_date)%20%3C=%202021%20AND%20date_extract_m(end_date)%20%3C=9)&$limit=25000")

In [87]:
df_mort = pd.read_json("https://data.cdc.gov/resource/9bhg-hcku.json?$where="
                  "(date_extract_y(end_date)%20%3C=%202021%20AND%20date_extract_m(end_date)%20%3C=9)&$limit=500000")

In [88]:
len(df_mort)

49572

In [89]:
df_mort.iloc[500]

data_as_of                       2021-10-20T00:00:00.000
start_date                       2021-01-01T00:00:00.000
end_date                         2021-01-31T00:00:00.000
group                                           By Month
year                                                2021
month                                                  1
state                                      United States
sex                                               Female
age_group                                    25-34 years
covid_19_deaths                                    253.0
total_deaths                                      2104.0
pneumonia_deaths                                   169.0
pneumonia_and_covid_19_deaths                      126.0
influenza_deaths                                     1.0
pneumonia_influenza_or_covid                       297.0
footnote                                             NaN
Name: 500, dtype: object

In [90]:
new_df=df_mort[["group","year","month","state","sex","age_group","covid_19_deaths",
                "total_deaths"]]

In [91]:
new_df

,group,year,month,state,sex,age_group,covid_19_deaths,total_deaths
0,By Month,2020,1,United States,All Sexes,All Ages,5.0,264579.0
1,By Month,2020,1,United States,All Sexes,Under 1 year,0.0,1778.0
2,By Month,2020,1,United States,All Sexes,0-17 years,0.0,2956.0
3,By Month,2020,1,United States,All Sexes,1-4 years,0.0,314.0
4,By Month,2020,1,United States,All Sexes,5-14 years,0.0,471.0
...,...,...,...,...,...,...,...,...
49567,By Month,2021,9,Puerto Rico,Female,50-64 years,30.0,124.0
49568,By Month,2021,9,Puerto Rico,Female,55-64 years,24.0,93.0
49569,By Month,2021,9,Puerto Rico,Female,65-74 years,25.0,180.0
49570,By Month,2021,9,Puerto Rico,Female,75-84 years,27.0,297.0
49571,By Month,2021,9,Puerto Rico,Female,85 years and over,17.0,398.0

In [92]:
new_df.drop(new_df.loc[new_df["age_group"]=="Under 1 year"].index, inplace=True)

/Users/jobyaugustine/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [93]:
new_df.drop(new_df.loc[new_df["age_group"]=="1-4 years"].index, inplace=True)

In [94]:
new_df.drop(new_df.loc[new_df["age_group"]=="All Ages"].index, inplace=True)

In [95]:
new_df.drop(new_df.loc[new_df["age_group"]=="5-14 years"].index, inplace=True)

In [96]:
new_df.drop(new_df.loc[new_df["age_group"]=="15-24 years"].index, inplace=True)

In [97]:
new_df.drop(new_df.loc[new_df["age_group"]=="25-34 years"].index, inplace=True)
new_df.drop(new_df.loc[new_df["age_group"]=="35-44 years"].index, inplace=True)
new_df.drop(new_df.loc[new_df["age_group"]=="45-54 years"].index, inplace=True) 
new_df.drop(new_df.loc[new_df["age_group"]=="55-64 years"].index, inplace=True)
#new_df.drop(new_df.loc[new_df["age_group"]==65-74 years"].index, inplace=True)
#new_df.drop(new_df.loc[new_df["age_group"]==75-44 years"].index, inplace=True)

In [98]:
new_df["age_group"].unique()

array(['0-17 years', '18-29 years', '30-39 years', '40-49 years',
       '50-64 years', '65-74 years', '75-84 years', '85 years and over'],
      dtype=object)

In [99]:
new_df.reset_index()

,index,group,year,month,state,sex,age_group,covid_19_deaths,total_deaths
0,2,By Month,2020,1,United States,All Sexes,0-17 years,0.0,2956.0
1,6,By Month,2020,1,United States,All Sexes,18-29 years,0.0,4410.0
2,8,By Month,2020,1,United States,All Sexes,30-39 years,0.0,6456.0
3,10,By Month,2020,1,United States,All Sexes,40-49 years,0.0,9779.0
4,12,By Month,2020,1,United States,All Sexes,50-64 years,2.0,42985.0
...,...,...,...,...,...,...,...,...,...
23323,49565,By Month,2021,9,Puerto Rico,Female,40-49 years,NaN,27.0
23324,49567,By Month,2021,9,Puerto Rico,Female,50-64 years,30.0,124.0
23325,49569,By Month,2021,9,Puerto Rico,Female,65-74 years,25.0,180.0
23326,49570,By Month,2021,9,Puerto Rico,Female,75-84 years,27.0,297.0
23327,49571,By Month,2021,9,Puerto Rico,Female,85 years and over,17.0,398.0

In [100]:
gender_df=new_df.groupby(by=["sex"]).sum()

In [101]:
gender_df

               year  month  covid_19_deaths  total_deaths
sex
All Sexes  15711408  38880        1074551.0     9916035.0
Female     15711408  38880         475912.0     4689866.0
Male       15711408  38880         589921.0     5220423.0

In [102]:
age_group_df=new_df.groupby(by=["age_group"]).sum()

In [103]:
age_group_df

                      year  month  covid_19_deaths  total_deaths
age_group
0-17 years         5891778  14580            992.0      200111.0
18-29 years        5891778  14580          10593.0      383947.0
30-39 years        5891778  14580          35489.0      559141.0
40-49 years        5891778  14580          92688.0      834081.0
50-64 years        5891778  14580         413690.0     3380676.0
65-74 years        5891778  14580         496130.0     4038678.0
75-84 years        5891778  14580         547210.0     4765528.0
85 years and over  5891778  14580         543592.0     5664162.0

In [104]:
state_df=new_df.groupby(by=["state"]).sum()

In [105]:
sorted_state_df= state_df.sort_values("covid_19_deaths",ascending=False)

In [106]:
sorted_state_df["covid_19_deaths"]

state
United States           1079670.0
Texas                    112438.0
California               112297.0
Florida                   98283.0
New York City             57174.0
New York                  44756.0
New Jersey                44054.0
Pennsylvania              41247.0
Georgia                   40445.0
Ohio                      31881.0
Illinois                  31637.0
North Carolina            28424.0
Arizona                   27906.0
Michigan                  27746.0
Tennessee                 25078.0
Massachusetts             23916.0
Alabama                   22876.0
Louisiana                 21319.0
South Carolina            20601.0
Virginia                  20104.0
Indiana                   19227.0
Missouri                  17554.0
Maryland                  17192.0
Mississippi               15559.0
Oklahoma                  13646.0
Kentucky                  13577.0
Connecticut               13295.0
Washington                11631.0
Nevada                    10903.0
Arkansas                  10822.0
Colorado                   9720.0
Minnesota                  8823.0
Wisconsin                  8441.0
Iowa                       6511.0
Kansas                     6225.0
Oregon                     5959.0
New Mexico                 4952.0
West Virginia              4692.0
Idaho                      3692.0
Puerto Rico                3689.0
Utah                       3562.0
Rhode Island               3489.0
Nebraska                   2596.0
Delaware                   2413.0
District of Columbia       2062.0
New Hampshire              1656.0
Montana                    1638.0
Maine                      1200.0
South Dakota               1053.0
Hawaii                      990.0
Wyoming                     662.0
North Dakota                621.0
Alaska                      365.0
Vermont                     115.0
Name: covid_19_deaths, dtype: float64

In [107]:

#gender_df().head()
print(new_df.groupby("sex").head())

       group  year  month          state        sex    age_group  \
2   By Month  2020      1  United States  All Sexes   0-17 years
6   By Month  2020      1  United States  All Sexes  18-29 years
8   By Month  2020      1  United States  All Sexes  30-39 years
10  By Month  2020      1  United States  All Sexes  40-49 years
12  By Month  2020      1  United States  All Sexes  50-64 years
19  By Month  2020      1  United States       Male   0-17 years
23  By Month  2020      1  United States       Male  18-29 years
25  By Month  2020      1  United States       Male  30-39 years
27  By Month  2020      1  United States       Male  40-49 years
29  By Month  2020      1  United States       Male  50-64 years
36  By Month  2020      1  United States     Female   0-17 years
40  By Month  2020      1  United States     Female  18-29 years
42  By Month  2020      1  United States     Female  30-39 years
44  By Month  2020      1  United States     Female  40-49 years
46  By Month  2020      1  United States     Female  50-64 years

    covid_19_deaths  total_deaths
2               0.0        2956.0
6               0.0        4410.0
8               0.0        6456.0
10              0.0        9779.0
12              2.0       42985.0
19              0.0        1666.0
23              0.0        3218.0
25              0.0        4300.0
27              0.0        6087.0
29              1.0       26094.0
36              0.0        1290.0
40              0.0        1192.0
42              0.0        2156.0
44              0.0        3692.0
46              1.0       16891.0

In [108]:
#request API and get json objects
# mort_response = requests.get(mort_url).json()
# mort_response

In [109]:
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2015, 12, 20)
end_dt = date(2016, 1, 11)
for dt in daterange(start_dt, end_dt):
    print(dt.strftime("%Y-%m-%d"))

2015-12-20
2015-12-21
2015-12-22
2015-12-23
2015-12-24
2015-12-25
2015-12-26
2015-12-27
2015-12-28
2015-12-29
2015-12-30
2015-12-31
2016-01-01
2016-01-02
2016-01-03
2016-01-04
2016-01-05
2016-01-06
2016-01-07
2016-01-08
2016-01-09
2016-01-10
2016-01-11